<td>{{ employee.firstName }}</td>
<td>{{ employee.lastName }}</td>
<td>{{ employee.identityNumber }}</td>
<td>{{ employee.startDate }}</td>
<td *ngIf="isLogin"><button (click)="editEmployee()">
  <lord-icon src="https://cdn.lordicon.com/oqaajvyl.json" 
    trigger="hover" stroke="bold" colors="primary:#4f1091,secondary:#545454" style="width:30px;height:30px;">
  </lord-icon></button></td>
<td *ngIf="isLogin"><button (click)="delete(employee)">
  <lord-icon src="https://cdn.lordicon.com/vlnvqvew.json"
    trigger="hover" stroke="bold" colors="primary:#4f1091,secondary:#545454" style="width:30px;height:30px;">
</lord-icon></button></td>