.example-full-width {
    width: 100%;
    padding: 5px;
  }
  
  .mat-elevation-z4 {
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  }
    
  .form-group {
    margin-bottom: 20px;
 
  }
  .positions{
    display: flex;
  }
  .form-container{
    margin-top: 5%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: 25%
  }
  .form-row{
    display: flex;
    margin: 32px 0;
  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  app-edit-employee{
    width: 10px;
  }