<form [formGroup]="addTypeForm" (ngSubmit)="save()" class="the-form">
    <div mat-dialog-content>
        <mat-form-field class="form-control">
            <mat-label>Role Type</mat-label>
            <input matInput formControlName="roleType">
        </mat-form-field>
        <ng-container *ngIf="isClicked && addTypeForm.controls['roleType'].errors as roleTypeError">
            <p class="error-message" *ngIf="roleTypeError['required']">This field is required</p>
        </ng-container>
    </div>
    <div mat-dialog-actions>
        <button type="submit" class="button-5">Save Changes</button>
        <button (click)="cancel()" class="button-5">Cancel</button>
    </div>
</form>