<form [formGroup]="loginForm" (ngSubmit)="save()" class="the-form">
    <div mat-dialog-content>
        <mat-form-field class="form-control">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="userName">
        </mat-form-field>
        <ng-container *ngIf="isClicked && loginForm.controls['userName'].errors as userNameError">
            <p class="error-message" *ngIf="userNameError['required']">This field is required</p>
        </ng-container>
        <mat-form-field class="form-control">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <ng-container *ngIf="isClicked && loginForm.controls['password'].errors as passwordError">
            <p class="error-message" *ngIf="passwordError['required']">This field is required</p>
        </ng-container>
    </div>
    <div mat-dialog-actions>
        <button type="submit" class="button-5">Login</button>
        <button (click)="cancel()" class="button-5">Cancel</button>
    </div>
</form>
<!-- <div class="body">
    <div class="container">
        <div class="text">Login</div>
        <form [formGroup]="loginForm" (ngSubmit)="save()">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" formControlName="userName">
                    <div class="underline"></div>
                    <label for="">User name</label>
                    <ng-container *ngIf="isClicked && loginForm.controls['userName'].errors as userNameError">
                        <p class="error-message" *ngIf="userNameError['required']">This field is required</p>
                    </ng-container>
                </div>
                <br>
                <div class="input-data">
                    <input type="password" formControlName="password">
                    <div class="underline"></div>
                    <label for="">Password</label>
                    <ng-container *ngIf="isClicked && loginForm.controls['password'].errors as passwordError">
                        <p class="error-message" *ngIf="passwordError['required']">This field is required</p>
                    </ng-container>
                </div>
            </div>
            <div class="form-row btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" id="btn2" value="Login">
                </div>
            </div>
            <div class="form-row btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="button" (click)="cancel()" id="btn2" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</div> -->