<!-- <form [formGroup]="loginForm" (ngSubmit)="save()" class="the-form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="User Name" formControlName="userName">
        <ng-container *ngIf="isClicked && loginForm.controls['userName'].errors as userNameError">
            <p class="error-message" *ngIf="userNameError['required']">This field is required</p>
        </ng-container>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <ng-container *ngIf="isClicked && loginForm.controls['password'].errors as passwordError">
            <p class="error-message" *ngIf="passwordError['required']">This field is required</p>
        </ng-container>
    </div>
    <button type="submit" class="button">Login</button>
    <button type="button" (click)="cancel()" class="button">Cancel</button>
</form> -->
<div class="body">
    <div class="container">
        <div class="text">Login</div>
        <form [formGroup]="loginForm" (ngSubmit)="save()">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" formControlName="userName">
                    <div class="underline"></div>
                    <label for="">User name</label>
                    <ng-container *ngIf="isClicked && loginForm.controls['userName'].errors as userNameError">
                        <p class="error-message" *ngIf="userNameError['required']">This field is required</p>
                    </ng-container>
                </div>
                <br>
                <div class="input-data">
                    <input type="password" formControlName="password">
                    <div class="underline"></div>
                    <label for="">Password</label>
                    <ng-container *ngIf="isClicked && loginForm.controls['password'].errors as passwordError">
                        <p class="error-message" *ngIf="passwordError['required']">This field is required</p>
                    </ng-container>
                </div>
            </div>
            <div class="form-row btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" id="btn2" value="Login">
                </div>
            </div>
            <div class="form-row btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="button" (click)="cancel()" id="btn2" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</div>