<!-- <button class="button" (click)="addEmployee()" *ngIf="isLogin" [disabled]="isOpen">Add Employee</button> -->
<button class="button-5" (click)="addEmployee()" *ngIf="isLogin" [disabled]="isOpen">
  <lord-icon
    src="https://cdn.lordicon.com/rcgrnzji.json"
    trigger="hover"
  stroke="bold"
  colors="primary:#4f1091,secondary:#545454"
  style="width:30px;height:30px;">
</lord-icon> Add Employee</button>
<!-- <div class="addOrEdit-employee-overlay" *ngIf="isOpen">
  <app-edit-employee (saveEvent)="saveAddEmployee()" />
</div> -->
<!-- <button class="button" (click)="addRoleType()" *ngIf="isLogin" [disabled]="isTypeOpen">Add Role type</button> -->
<button class="button-5" (click)="addRoleType()" *ngIf="isLogin" [disabled]="isTypeOpen">
  <lord-icon
    src="https://cdn.lordicon.com/rcgrnzji.json"
    trigger="hover"
  stroke="bold"
  colors="primary:#4f1091,secondary:#545454"
  style="width:30px;height:30px;">
</lord-icon> Add Role type</button>
<div class="addOrEdit-employee-overlay" *ngIf="isTypeOpen">
  <app-add-role-type (saveEvent)="saveTypeRole()" />
</div>
<app-table [isLogin]="isLogin"/>