<form [formGroup]="addForm" (ngSubmit)="save()" class="the-form">
    <div mat-dialog-content>
        <mat-form-field appearance="fill" class="position-field">
            <mat-label>Select Role</mat-label>
            <mat-select formControlName="roleTypeId" class="position-select">
              <mat-option *ngFor="let role of types" [value]="role.id">
                {{ role.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngIf="isClicked && addForm.controls['roleTypeId'].errors as roleTypeIdError">
            <p class="error-message" *ngIf="roleTypeIdError['required']">Please select a role type</p>
        </ng-container>
        <div class="form-group">
              <input type="date" class="form-control" placeholder="Entry Date" formControlName="entryDate">
            <ng-container *ngIf="isClicked && addForm.controls['entryDate'].errors as entryDateError">
                <p class="error-message" *ngIf="entryDateError['required']">This field is required</p>
            </ng-container>
        </div>
    </div>
    <div class="form-group">
        <label>Manager:</label><br>
        <label> <input type="radio" formControlName="isManager" [value]="0"> Yes
        </label>
        <br />
        <label>
            <input type="radio" formControlName="isManager" [value]="1"> No
        </label>
        <ng-container *ngIf="isClicked && addForm.controls['isManager'].errors as isManagerError">
            <p class="error-message" *ngIf="isManagerError['required']">Please select</p>
        </ng-container>
    </div>
    <div mat-dialog-actions>
        <button class="button-5" type="submit">Add</button>
        <button class="button-5" (click)="cancel()">Cancel</button>
    </div>
</form>